langchain
langchain-community
pypdf
chromadb
jupyter
langchain-google-genai
langchain-chroma
sentence-transformers
nbconvert
streamlit
networkx
pyvis
langchain-openai
fastapi
uvicorn
tqdm
langchain-huggingface
spacy
python-dotenv
deepeval
langchainhub
faiss-cpu
pydantic
